:root{
    --main-radius:5px;
    --main-padding:5px;
}
.container{
    display:grid;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr 0.2fr 0.2fr;
    grid-template-areas: 
        "header header"
        "info info"
        " content1 content2"
        " content4 content3"
        " content4 content5"
        " content4 content6"
    ;
    grid-gap: 0.2rem;
    /* text-align: center; */
    font-family: "inter", sans-serif;
    font-size: 12px;
    color: #084d40;
    
}
.heading{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 800;
}
header{
    background: #19a0a0;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
    color: #fff;
}
#info{
    background: #137676;
    grid-area: info;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
    color: #fff;
}
#content1{
    /* background: #6fffd2; */
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
}
#content2{
    /* background: #64ffda; */
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
}
#content3{
    /* background: #73ffba; */
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
}
#content4{
    /* background: #6fffd2; */
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
}
#content5{
    /* background: #64ffda; */
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
}
#content6{
    /* background: #1de9b6; */
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: 1.5rem;
}


@media only screen and (max-width:550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
        grid-template-areas: 
            "header"
            "info"
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6"
            
        ;
        grid-gap: 0.2rem;
        /* text-align: center; */
        
    }
}